{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}
<div class="row">
  <h1>Welcome to NU Genvis</h1>
  {% csrf_token %}
  <div id="main-canvas" style="width:900px;height:450px;"></div>
  <div class="row">
    <button id="test1Button" class="btn btn-info">Test 1!</button>
    <button id="test2Button" class="btn btn-info">Test 2!</button>
    <button id="test3Button" class="btn btn-info">Test 3!</button>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/test.js' %}"></script>
<script type="text/javascript" src="https://cdn.plot.ly/plotly-1.5.0.min.js"></script>
<script>
$(document).ready(function () {
    test("{% url 'api_time_series' %}");
});
</script>
{% endblock %}